.user-item {
  margin-bottom: 2%;
  width: 600px;
  margin-right: 2%;
  margin-top: 2%;
  margin-left: 2%;
  cursor: pointer;
  background-color: rgb(230, 230, 230);
}
.userName {
  font-size: 20px;
  font-weight: 400;
}
mat-icon {
  color: rgb(68, 68, 68);
}
